// Colors
$primary-color: #007bff; // Example primary color
$text-color: black;
$border-color: #e1e4e8;
$red: red;

// Spacing
$line-height: 1.6;
$padding-left: 1.5rem;
$margin-top-small: 0.35em;
$margin-top-medium: 0.5em;
$margin-top-large: 0.75em;
$margin: 1em;

// Font Weights
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;