/**
TODO: Find a more elegant way to style lists and headers within Nuxt Content
*/

div {
    line-height: 1.6;

    ul,
    ol {
        padding-left: 1.5rem;
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    h2 {
        margin-top: 0.75em;

    }

    h3 {
        margin-top: 0.5em;
    }

    h4 {
        margin-top: 0.35em;
    }

    p {
        margin-top: 0.35em;
    }

    pre {
        padding: 0.2em 0.2em;
    }

    code {
        text-wrap: wrap;
    }

}

.border-right {
    border-right: 1px solid #e1e4e8;

}